@font-face {
  font-family: "iconfont"; /* Project id 5205346 */
  src: url('iconfont.woff2?t=1783346389628') format('woff2'),
       url('iconfont.woff?t=1783346389628') format('woff'),
       url('iconfont.ttf?t=1783346389628') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fangdajing:before {
  content: "\e607";
}

.icon-fangjian:before {
  content: "\e62e";
}

.icon-tuichu:before {
  content: "\e622";
}

.icon-shezhi:before {
  content: "\e643";
}

.icon-zaixianrenshu:before {
  content: "\e6bb";
}

.icon-yonghuzhongxin-yonghu:before {
  content: "\e60e";
}

